<div id="background" align="center">
  <div id="logo"></div>
  <br>
  <div class="body" align="left">
    <div align="center">
      <p align="left">&nbsp;</p>
      <p><img border="0" src="/assets/thankyou.png" width="622" height="157"></p>
      <p><br>

      </p>

    </div>
    <p style="text-align: center">&nbsp;</p>
    <p>
    <strong>Date:</strong>
    <script language="Javascript">
 var dayName = new Array ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

 var monName = new Array ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")

 var now = new Date

 document.write(" " + dayName[now.getDay()] + ", " + monName[now.getMonth()] + " "+now.getDate() +"")
    </script> &nbsp;<br>
    <strong>Location:</strong> California, USA<br>
    <strong>From:</strong> Sinead</p>
    <p><img border="0" src="/assets/dearfriend.png" width="250" height="75"></p>
    <p><b><font face="Arial" size="4">Your order has been received
                          and processed. Please note that your credit
                          card or bank statement may show a charge by
    <font color="#FF0000">Clickbank</font> or <font color="#FF0000">CLKBANK*COM</font>,
    rather than a reference to my ebook or my website.</font></b></p>
    <p>&nbsp;</p>
    <p>Here&#39;s the ebook for you to download....</p>
    <p>&nbsp;</p>
    <p style="text-align: center">
    <img border="0" src="/assets/bookcover1.jpg" width="400" height="671"></p>
    <p style="text-align: center"><u><b>
                          <font face="Verdana, Arial, Helvetica, sans-serif" size="5" color="#0000FF">
                          CLICK HERE TO DOWNLOAD THE EBOOK!</font></b></u></p>

    <p style="text-align: center">&nbsp;</p>

    <p style="text-align: center"><u><b>
                          <font face="Verdana, Arial, Helvetica, sans-serif" size="5" color="#0000FF">
                          CLICK HERE TO DOWNLOAD THE MAP OF USA!</font></b></u></p>

                          <p>&nbsp;</p>

                          <p style="text-align: center"><font face="Verdana, Arial, Helvetica, sans-serif">
                          You need PDF Reader in order to read the file in PDF
                          format.<br>
                          <a target="_blank" href="http://get.adobe.com/reader/">
                          Click here to download Adobe PDF Reader for free</a>.</font></p>

                          <p style="text-align: center">&nbsp;</p>

                          <p><font face="Verdana, Arial, Helvetica, sans-serif">
                          If you have any questions, just send  an email to...</font></p>

                          <p> <a href="mailto:sinead@e3visa.me">sinead@e3visa.me</a></p>

                          <p>&nbsp;</p>

                          <p><strong style="font-weight: 400">Good luck to you and your family,</strong></p>

<p><br>
Sinead<br>
<b>BoughtintheUSA.com</b></p>
<p><strong>P.S.</strong> Congratulations, Mate...</p>
<p>&nbsp;</p>
    <p style="text-align: center">
    <img border="0" src="/assets/text_01.png" width="673" height="160"></p>
    <p style="text-align: center">
    &nbsp;</p>
    <p style="text-align: center">
    &nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p style="text-align: center">
&nbsp;</p>
<p style="text-align: center">
<img border="0" src="/assets/us_flag.jpg" width="107" height="81"></p>
<p style="text-align: center">
    <font size="2"><a href="http://www.mayanobservations.com/">Home</a> -
    <a href="disclaimer.html">Disclaimer</a> - <a href="policy.html">Privacy
    Policy</a> - <a href="terms.html">Terms of Use</a> - <a href="contact.html">
    Contact Us</a></font></p>
  </div>
  </div>
