<h1>Thank you for your purchase</h1>

<img src="/assets/text_01.png" width="673" height="160">

<strong>Date:</strong> <%= letter_date %><br>
<strong>Location:</strong> California, USA<br>
<strong>From:</strong> Sinéad</p>

<img class="salutation" src="/assets/dearfriend.png" width="250" height="75">

<p><b>Your order has been received and processed. Please note that your credit
  card or bank statement may show a charge by GOOGLE * E3visa Book</b></p>

<p>Here's the ebook for you to download....</p>

<img border="0" src="/assets/bookcover1.jpg" width="400" height="671">

<p><u><b>CLICK HERE TO DOWNLOAD THE EBOOK!</b></u></p>

<div class="acrobat_reader">
  <a href="http://www.adobe.com/go/getreader/"><img title="Reader" alt="Reader" src="http://wwwimages.adobe.com/www.adobe.com/content/dam/Adobe/images/shared/product_mnemonics/16x16/reader_16x16.png"> Get Adobe Acrobat Reader</a>
</div>

<p>If you have any questions, just send  an email to me: <%= contact_email %></p>

<p>Good luck to you and your family,</p>

<p><br>
Sinéad<br>
<b><%= company_name %></b></p>

