<h1>Privacy Policy</h1>

<p>We believe that we should only use your information for your benefit and for
the reason you submitted it to us.  These policies are simply the explicit
implementation of this principle.</p>

<div id="anonymous_statistics">
  <h2>Anonymous Statistics</h2>

  <p>As is common practice with all websites, we collect anonymous
  statistics from visitors to our websites, including you.  We record the IP
  address that you are using, the date and time of your visit, what you
  viewed when on our site, and other information that your web browser
  automatically sends to us as part of its normal operation.</p>
</div>

<div id="email_information">
  <h2>Email Information</h2>

  <p>If you email us, we obviously receive whatever you send to us,
  including your email address.  We take great care to ensure that your
  information is protected, and we will never release this information to a
  third party unless legally forced to do so.</p>

  <p>We will only use your email address to send things to you that you've
  asked for.</p>

  <p>We never ask you to send any information to us via email.</p>
</div>

<div id="purchase_information">
  <h2>Purchase Information</h2>

  <p>We use Google Checkout for all our payments, which is a highly secure
  payment system operated by Google.  If you choose to purchase from us, you
  will be redirected to Google's website and complete your payment there.
  We never actually collect any payment information from you, nor receive it
  from Google.</p>

  <p>After you've completed your payment with Google Checkout, we will
  deliver your electronic product immediately.</p>
</div>

<div id="children">
  <h2>Children</h2>

  <p>Children under the age of 18 are not eligible to use our web site
  without the supervision of their parent/guardian.</p>
</div>

<div id="policy_changes">
  <h2>Policy Changes</h2>

  <p>We reserve the right to amend this privacy policy at any time without
  notice.  We will honor the policy that was in place at the time you
  submitted your information to us.</p>
</div>

<div id="contact">
  <h2>Contact</h2>

  <p>If you have any questions regarding this Policy, or your dealings with
  our website, please <a href="contact">contact me</a>.</p>
</div>
