<div id="background" align="center">
  <div id="logo"></div>
  <br>
  <div class="body" align="left">
    <div align="center">
      <p align="left">&nbsp;</p>
      <p><font size="5"><b>Terms of Use</b></font></p>

    </div>
    <p>&nbsp;</p>
    <p style="text-align: justify">By accessing this web site, you are agreeing
    to be bound by these web site Terms and Conditions of Use, all applicable
    laws and regulations, and agree that you are responsible for compliance with
    any applicable local laws. If you do not agree with any of these terms, you
    are prohibited from using or accessing this site. The materials contained in
    this web site are protected by applicable copyright and trade mark law.</p>
    <p style="text-align: justify"><br>
    <br>
    <b>Intellectual Property Rights</b><br>
    <br>
    All copyrights, trademarks, patents and other intellectual property rights
    in and on our website and all content and software located on the site shall
    remain the sole property of BoughtintheUSA.com or its licensors. The use
    of our trademarks, content and intellectual property is forbidden without
    the express written consent from BoughtintheUSA.com.<br>
    <br>
    You must not:</p>
    <ul>
      <li>
    <p style="text-align: justify">Republish material from our website without
    prior written consent.</p>
      </li>
      <li>
    <p style="text-align: justify">Sell or rent material from our website.</p>
      </li>
      <li>
    <p style="text-align: justify">Reproduce, duplicate, create derivative, copy
    or otherwise exploit material on our website for any purpose.</p>
      </li>
      <li>
    <p style="text-align: justify">Redistribute any content from our website,
    including onto another website.</p>
      </li>
    </ul>
    <p style="text-align: justify">&nbsp;</p>
    <p style="text-align: justify"><b>Acceptable Use</b><br>
    <br>
    You agree to use our website only for lawful purposes, and in a way that
    does not infringe the rights of, restrict or inhibit anyone else&#39;s use and
    enjoyment of the website. Prohibited behavior includes harassing or causing
    distress or inconvenience to any other user, transmitting obscene or
    offensive content or disrupting the normal flow of dialogue within our
    website.<br>
    <br>
    You must not use our website to send unsolicited commercial communications.
    You must not use the content on our website for any marketing related
    purpose without our express written consent.<br>
    <br>
&nbsp;</p>
    <p style="text-align: justify"><b>Restricted Access</b><br>
    <br>
    We may in the future need to restrict access to parts (or all) of our
    website and reserve full rights to do so. If, at any point, we provide you
    with a username and password for you to access restricted areas of our
    website, you must ensure that both your username and password are kept
    confidential.<br>
    <br>
&nbsp;</p>
    <p style="text-align: justify"><b>Limitation of Liability</b><br>
    <br>
    THE MATERIALS AT THIS SITE ARE PROVIDED &quot;AS IS&quot; WITHOUT ANY EXPRESS OR
    IMPLIED WARRANTY OF ANY KIND INCLUDING WARRANTIES OF MERCHANTABILITY,
    NONINFRINGEMENT OF INTELLECTUAL PROPERTY, OR FITNESS FOR ANY PARTICULAR
    PURPOSE. IN NO EVENT SHALL BoughtintheUSA.com OR ITS AGENTS OR OFFICERS
    BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES
    FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION, INJURY OR
    DEATH) ARISING OUT OF THE USE OF OR INABILITY TO USE THE MATERIALS, EVEN IF
    BoughtintheUSA.com HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR
    DAMAGES.</p>
    <p style="text-align: justify">&nbsp;</p>
    <p style="text-align: justify"><b>Revisions</b><br>
    <br>
    BoughtintheUSA.com may change these terms from time to time and so you
    should check these terms regularly. Your continued use of our website will
    be deemed acceptance of the updated or amended terms. If you do not agree to
    the changes, you should cease using our website immediately.<br>
    <br>
    If any of these terms are determined to be illegal, invalid or otherwise
    unenforceable, it shall be severed and deleted from these terms and the
    remaining terms shall survive and continue to be binding and enforceable.<br>
    <br>
    <br>
    <b>Contact</b><br>
    <br>
    If you have any questions regarding this Terms, or your dealings with our
    website, please <a href="contact.html">contact us</a>.</p>

                          <p>&nbsp;</p>

                          <p>&nbsp;</p>

                          <p>&nbsp;</p>

    <p style="text-align: center">
    &nbsp;</p>
    <p style="text-align: center">
    &nbsp;</p>
    <p style="text-align: center">
    &nbsp;</p>
<p align="center">
<img border="0" src="/assets/text_10.png" width="627" height="109"></p>
<p align="center">
&nbsp;</p>
<p style="text-align: center">
<img border="0" src="/assets/us_flag.jpg" width="107" height="81"></p>
<p style="text-align: center">
<font size="2"><a href="http://www.mayanobservations.com/">Home</a> -
<a href="disclaimer.html">Disclaimer</a> - <a href="policy.html">Privacy Policy</a>
- Terms of Use - <a href="contact.html">Contact Us</a></font></p>
</div>
  </div>
