<!DOCTYPE html>
<html>
<head>
  <title>E3visaMe</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="body">

      <%= yield %>

      <div id="footer">
        <img border="0" src="/assets/text_10.png" width="627" height="109">
        <img border="0" src="/assets/us_flag.jpg" width="107" height="81">

        <p class="menu">
          <a href="index">Home</a> | 
          <a href="policy">Privacy Policy</a> |
          <a href="contact">Contact Me</a>
        </p>

        <p class="copyright">Copyright © 2012 Bought in the USA, Inc. All rights reserved.</p>
      </div>
    </div>
</body>
</html>
